.footer{
    background-color: #303030;
    height: 44px;
}
.inner-footer{
    width: 940px;
    margin: 0 auto;
    padding: 12px;
    font-family: sans-serif;
}
.inner-footer a{
    color: white;
    font-size: 13px;
    float: left;
}
.number{
    float: right;
}
.number-style{
    border-radius: 3px;
    padding: 2px 2px 1px;
    margin-right: 1px;
    font-weight: bold;
    font-size: 12px;
    background: white;
}

